{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>TASK</title>
</head>
<body>
    <div class="wrapper">
        <div style="margin: 40px;" class="data">
          <ul style="list-style:none;">
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">MƏHSUL--> </span> {{my_sub.product}}</p>
            </li>
            
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Sorğu Nömrəsi --> </span> {{my_sub.request_number}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Müştəri İD --> </span> {{my_sub.user_id}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Təklifin qüvvədə olduğu müddət --> </span> {{my_sub.datetime}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Valyuta --> </span> {{my_sub.valyuta}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Miqdar --> </span> {{my_sub.miqdar}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Vahidin qiyməti --> </span> {{my_sub.price}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">ƏDV drərəcəsi --> </span> {{my_sub.edv_degree}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">ƏDV məbləği --> </span> {{my_sub.edv_price}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Ödəniş şərti --> </span> {{my_sub.payment_terms}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Bank hesabı --> </span> {{my_sub.bank_account}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Endirim --> </span> {{my_sub.discount}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Çatdırılma şərti --> </span> {{my_sub.delivery_condition}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Ölkə --> </span> {{my_sub.country}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Şəhər --> </span> {{my_sub.city}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Ünvan --> </span> {{my_sub.location}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Zip kod --> </span> {{my_sub.zipcode}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Çatdırılma tarixi--> </span> {{my_sub.delivery_date}}</p>
            </li>
            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Çatdırılma xərci --> </span> {{my_sub.delivery_cost}}</p>
            </li>

            <li>
              <p style="color:black;"><span style="color: rgb(211, 0, 253);">Nəqliyyat növü --> </span> {{my_sub.type_transport}}</p>
            </li>

          </ul>
          <button id="btn-previous"><a href="{% url 'form4' %}?form_id={{request.GET.form_id}}">Əvvəlki addım</a></button>
          <a href="{% url 'final' %}"><button id="btn-next">Təsdiq et</button></a>
        </div>


    
        
        <div class="twopage">
            <ul>
                <li>
                    <button id="btn-active">1</button>
                    <p style="font-weight: 800;">Ümumi məlumatlar</p>
                </li>
                <li>
                    <button id="btn-active">2</button>
                    <p style="font-weight: 800;">Məhsullara dair məlumatlar</p>
                </li>
                <li>
                    <button id="btn-active">3</button>
                    <p style="font-weight: 800;">Ödəniş məlumatlar</p>
                </li>
                <li>
                    <button id="btn-active">4</button>
                    <p style="font-weight: 800;">Çatdırılma məlumatlar</p>
                </li>
                <li>
                    <button id="btn-active">5</button>
                    <p style="font-weight: 800;">Önbaxış</p>
                </li>
            </ul>
        </div>
    </div>

    


    
</body>
</html>